<nav class="navbar navbar-dark bg-primary">
  <h3 class="text-white">Admin Dashboard</h3>
  <!-- log out icon-only button -->
  <button class="btn ml-4" (click)="this.signOutAdmin()">
    <i class="fa fa-power-off fa-lg mr-1" style="color:rgb(255, 250, 251);">
    </i>
  </button>
</nav>
<table class="table">
  <thead class="bg-secondary text-white">
    <tr>
      <th scope="col">nr</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">IBAN</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; let i = index">
      <th scope="row">
        {{ i + 1 }}
      </th>
      <td>
        <app-user-edit [user]="user" [userField]="user.first_name" [fieldName]="'first_name'"
          (changedUser)="editUser($event)">
        </app-user-edit>
      </td>
      <td>
        <app-user-edit [user]="user" [userField]="user.last_name" [fieldName]="'last_name'"
          (changedUser)="editUser($event)">
        </app-user-edit>
      </td>
      <td>
        <app-user-edit [user]="user" [userField]="user.iban" [fieldName]="'iban'" (changedUser)="editUser($event)">
        </app-user-edit>
      </td>
      <td>
        <button class="btn" (click)="deleteUser(user.id)"> <i class="fa fa-trash-alt "
            style="color:#DC3545;"></i></button>

      </td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td><input type="text" placeholder="First Name" /></td>
      <td><input type="text" placeholder="Second Name" /></td>
      <td><input type="text" placeholder="IBAN" /></td>
      <td>
        <button class="btn" (click)="addUser()">
          <i class="fa fa-plus fa-lg" style="color:rgb(16, 192, 39);">
          </i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
