<nav class="navbar navbar-dark bg-primary">
  <h3 class="text-white">Admin Dashboard</h3>
  <!-- log out icon-only button -->
  <button class="btn ml-4" (click)="this.signOutAdmin()">
    <i class="fa fa-power-off fa-lg mr-1" style="color:rgb(255, 250, 251);">
    </i>
  </button>
</nav>
<table class="table">
  <thead class="bg-secondary text-white">
    <tr>
      <th scope="col">nr</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">IBAN</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; let i = index">
      <th scope="row">
        {{ i + 1 }}
      </th>
      <td>
        <app-user-edit [user]="user" [userField]="user.first_name" [fieldName]="'first_name'"
          (changedUser)="editUser($event)">
        </app-user-edit>
      </td>
      <td>
        <app-user-edit [user]="user" [userField]="user.last_name" [fieldName]="'last_name'"
          (changedUser)="editUser($event)">
        </app-user-edit>
      </td>
      <td>
        <app-user-edit [user]="user" [userField]="user.iban" [fieldName]="'iban'" (changedUser)="editUser($event)">
        </app-user-edit>
      </td>
      <td>
        <button *ngIf="user.own" class="btn" (click)="deleteUser(user.id)"> <i class="fa fa-trash-alt "
            style="color:#DC3545;"></i></button>
      </td>
    </tr>
  </tbody>
</table>

<!-- New User form  -->
<form #f="ngForm" (ngSubmit)="addUser(f, iban)" style="border-top: 1px solid rgb(223, 217, 217)" class="p-2">
  <div class="form-row">
    <h6 class="col-md-1 m-2 text-left">Add user</h6>
    <div class="form-group col-md-2">
      <input type="email" class="form-control" type="text" placeholder="First Name" [(ngModel)]="newUser.first_name"
        name="first_name" required>
    </div>
    <div class="form-group col-md-2">
      <input type="password" class="form-control" type="text" placeholder="Last Name" [(ngModel)]="newUser.last_name"
        name="last_name" required>
    </div>
    <div class="form-group col-md-3">
      <input id="iban" name="iban" class="form-control" #iban="ngModel" type="text" placeholder="IBAN" ibanValidator
        [(ngModel)]="newUser.iban" [ngModelOptions]="{standalone: true}" required autocomplete="off">
    </div>
    <div class="form-group col-md-1 text-right"> <button class="btn" type="submit" (click)="isSubmitted = true">
        <i class="fa fa-plus fa-lg" style="color:rgb(16, 192, 39);">
        </i>
      </button></div>
  </div>
  <div class="row">
    <div class="col-5 offset-2">
      <div *ngIf="iban.invalid && (iban.dirty || iban.touched) && isSubmitted " class="alert alert-danger">
        <div *ngIf="iban.errors.required">
          IBAN is required.
        </div>
        <div *ngIf="iban.errors.iban">
          IBAN is invalid
        </div>
      </div>
      <div *ngIf="iban.valid && (iban.dirty || iban.touched)" class="alert alert-success">
        IBAN is valid.
      </div>

      <div *ngIf="this.formError" class="alert alert-danger"> All fields are required.</div>
      <div *ngIf="this.ibanEditError" class="alert alert-danger">
        Write correct IBAN to edit.
      </div>
    </div>
  </div>


</form>
