<div class="d-flex flex-column justify-content-center align-items-center">
  <div class="card mt-5">
    <div class="card-header bg-primary text-white">
      Admin Dashboard
    </div>
    <div class="card-body">
      <div class="d-flex flex-row justify-content-end align-items-between">
        <img
          class="card-img-top p-3"
          src="../../assets/creadit_card.svg"
          alt="Card image cap"
          height="200px"
        />
        <div>
          <h5 class="card-title text-center">Loggin options:</h5>
          <button
            class="loginBtn loginBtn--google mt-5"
            (click)="this.signInAdmin()"
          >
            Enter with Google
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
