<div class="d-flex flex-column justify-content-center align-items-center">
  <div class="card mt-5">
    <div class="card-header bg-primary text-white">
      Admin Dashboard
    </div>
    <div class="d-flex flex-row justify-content-center align-items-center m-4">
      <div class="text-left">
        <img
          class="p-2"
          src="../../assets/creadit_card.svg"
          alt="Card image cap"
          height="200px"
          style="border-right: 1px solid gray"
        />
      </div>
      <div class="m-2">
        <h5 class="card-title text-center">Loggin options:</h5>
        <button
          class="loginBtn loginBtn--google mt-5"
          (click)="this.signInAdmin()"
        >
          Enter with Google
        </button>
      </div>
    </div>
  </div>
</div>
